{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='nlp1/cover.css')}}">
{% endblock %}

{% block content %}
<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Emoticon Prediction</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="/averaged-multiclass-perceptron">AMP</a></li>
                  <li><a href="/hidden-markov-model">HMM</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Emoticon Prediction,</h1>
            <p class="lead">is an implementation of an emoticon predictor, based on text. </br>
                This implementation shows two different ways of prediction emotions.
                <a href="/averaged-multiclass-perceptron">Averaged multiclass perceptron (AMP)</a> and
                <a href="/hidden-markov-model">Hidden Markov Model (HMM)</a>
            </p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>An implementation project for <a href="http://ivan-titov.org/teaching/nlp1-14/index.html">NLP1</a>, by <a href="https://github.com/finde/NLP1Emoticon">NLP1Emoticon</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="page-image-citation">
         Image source: Sheldon. (2012) <em>Bright Colored Emotions</em> http://good-wallpapers.com/abstract/15374
    </div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}