@charset "UTF-8";

body {
  color: #fff;
  text-align: center;
  //    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
//  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
//  box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('../../img/Bright Emotions.jpg') no-repeat center center fixed;
  background-size: cover;
}