<div class="site-wrapper" style="margin-top: 20%">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="inner cover">
                <h1 class="cover-heading">Emoticon Prediction,</h1>

                <p class="lead">is an implementation of an emoticon predictor, based on text. </br>
                    This implementation shows two different ways of prediction emotions.
                    <a href="averaged-multiclass-perceptron">Averaged multiclass perceptron (AMP)</a> and
                    <a href="hidden-markov-model">Hidden Markov Model (HMM)</a>
                </p>

                <p class="lead">
                    <a href="#" class="btn btn-lg btn-default">Learn more</a>
                </p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>An implementation project for <a
                            href="http://ivan-titov.org/teaching/nlp1-14/index.html">NLP1</a>, by <a
                            href="https://github.com/finde/NLP1Emoticon">NLP1Emoticon</a>.</p>
                </div>
            </div>

        </div>

    </div>

</div>